{
  "extends": [
    "oclif",
    "oclif-typescript",
    "prettier"
  ],
  "rules": {
    "unicorn/prefer-node-protocol": "off",
    "unicorn/import-style": "off",
    "unicorn/prefer-module": "off"
  }
}
